## Editor/IDE files
\#.#
*/.#*
\#*
.#*
*~

## OS specific files
.DS_Store
*.log
*.pot
*.py[co]
*.sublime-*
.idea

## Packages
env
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
docs/_build

## Installer logs
pip-log.txt

## Unit test / coverage reports
.coverage
.tox
htmlcov
htmlcov/*
realworld
temp/*
