## Editor/IDE files
\#.#
*/.#*
\#*
.#*
*~

## OS specific files
.DS_Store
*.log
*.pot
*.py[co]

## Packages
env
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

## Installer logs
pip-log.txt

## Unit test / coverage reports
.coverage
.tox
